h1 {
    font-size: 50px;
}

.ornag-color {
    color: orange;
}

.display{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 88%;
    padding-top: 11%;
    padding-left: 5%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 8px;
}
.section-one{
    background-image: url(image/img.png);
    background-repeat: no-repeat;
}

body {
    font-family: sans-serif;
    margin: 0px;
}
.half-width-two img{
    width: 88%;
    padding-right: 5%;
}

.section-two{
    padding-left: 5%;
    background-image: url(image/img-3.png);
    background-repeat: no-repeat;
    background-position: right;
}

#Experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 10px 10px 40px;
}

.Experiences{
    background-image: url(image/img-2.png);
    background-repeat: no-repeat;
}

.full-stack-developer{
    border-left: 7px solid tomato;
}
.baby-developer{
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}
.facebook img{
    margin-left: 13.5%;
    width: 17.66666666666667%;
}

#youtube img{
    margin-left: 10%;
    width: 17.66666666666667%;
}
.linkedin img{
    margin-left: 10%;
    width: 17.66666666666667%;
}